
/dist
/tmp
/out-tsc
/bazel-out



/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.editorconfig

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.angular/
.sass-cache/
.styled-components-cache/
.connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings
npm-shrinkwrap.json
package-lock.json
yarn.lock

# System files
.DS_Store
Thumbs.db
